html, #root, .App {
  height: 100%;
  width: 100%;
  max-width: none;
}

body {
  height: 91%;
  max-width: none;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 0;
  padding-top: 0.5em;
}

form {
  margin-left: 10em;
  padding-top: 2em;
}

.actBtn {
  float: right;
  width: 7.4em;
}

.settingsBtn {
  width: 7.4em;
}

#header {
  height: 7em;
  width: 100%;
  background-color: darkgrey;
}

#sidebar {
  height: 92%;
  width: 8em;
  float: left;
  background-color: lightgrey;
}

#spinner {
  text-align: center;
  padding-top: 2em;
}

#body {
  height: 92%;
  width: 100%;
}
