html, #root, .App {
  max-height:  -webkit-fill-available;
  width: 100%;
  max-width: none;
}

body {
  height: 80%;
  max-width: none;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 0;
  padding-top: 0.5em;
}

h2 {
  margin-left: 1.4em;
}

ul, li {
  margin-left: 0.4em;
}

form {
  margin-left: 2em;
  padding-top: 2em;
}

button {
  background-color: black;
  padding: 0.6579em 0.7895em;
  margin-right: 0.4em;
  margin-left: 0.4em;
  width: 7.4em;
}

.formBtn {
  margin: 0;
  margin-top: 0.4em;
}

.actBtn {
  margin-top: 3em;
}

.actBtn.R {
  float: right;
}

.sideBtn {
  margin-top: 2.5em;
  padding: 10px 0;
}

.addSideBtn {
  margin-top: 0.5em;
  padding: 10px 0;
}

.charToggle {
  margin: 0.4em;
  width: 2em;
  height: 2em;
  padding: 0;
  border-radius: 0.75em;
  display: inline;
  position: absolute;
  top: 28.6em;
  background: darkgrey;
}

.charToggle.sub {
  top: 32.5em;
}

.level {
  display: inline;
  padding: 0.4em;
}

label.level {
  position: absolute;
  font-size: large;
  margin-top: 3.75em;
  margin-left: 17.6em;
}

input.level {
  text-align: center;
  padding: 0.4em 0;
  padding-left: 0.5em;
  margin-left: 24em;
  margin-top: 3.13em;
  position: absolute;
}

.charScroll {
  display: inline;
  width: 100%;
}

.charHeader {
  display: inline;
  margin: 0px 0px 0px 3.8em;
  height: 0px;
  position: absolute;
  top: 23.4em;
}

.charSubheader {
  display: inline;
  margin: 0px 0px 0px 3.8em;
  height: 0px;
  position: absolute;
  top: 26.8em;
}

.charHeader.as {
  font-size: 105%;
  margin: 0px;
  position: absolute;
  top: 34.5em;
}

.charHeader.as.bns {
  font-size: 93%;
  margin-left: 16.8em;
  top: 39.1em;
}

.ea.bns {
  margin-left: 0.5em;
  font-size: 85%;
}

.charDiv, .charInput {
  display: inline!important;
  padding-right: 0.4em;
  text-align: center;
  margin-left: 0.5em;
}

.charInput {
  text-align: center;
  padding: 0.5em 0;
  padding-left: 0.5em;
  margin-left: 0.5em;
  width: 2.4em;
}

.charDiv#Strength, .charDiv#Intelligence {
  margin-left: 0;
}

.charInput#Strength {
  margin-left: 1.7em;
}

.charInput#Dexterity {
  margin-left: 0.7em;
}

.charInput#Wisdom {
  margin-left: 1.05em;
}

.charInput#Charisma {
  margin-left: 1.73em;
}

.bodyBtn {
  margin-top: 2em;
  width: 6em;
  margin-left: 0;
  font-size: 95%;
}

.bodyBtn.selected {
  background-color: darkgrey;
}

.campaignCard {
  width: -webkit-fill-available;
  border-style: ridge;
  height: 5em;
  padding: 0.5em;
  margin: 0.5em 2em;
  margin-left: 2em;
}

.campaignCard:hover {
  cursor: pointer;
}

#home {
  float: left;
}

#title {
  display: table-cell;
  vertical-align: -webkit-baseline-middle;
}

#header {
  height: 6em;
  min-width: 42em;
  background-color: darkgrey;
  text-align: center;
  display: table;
  width: 100%;
}

#sidebar {
  height: -webkit-fill-available;
  max-height: 100%;
  width: 8em;
  float: left;
  background-color: darkgrey;
  border-top: black;
  border-top-width: thick;
  border-top-style: double;
}

#Loader {
  text-align: center;
  padding-top: 2em;
}

#body {
  margin-left: 8em;
  height: 92%;
}

#signup {
  margin-top: 0;
}

#homepage {
  margin-right: 32%;
}

#campaignDesc {
  height: 14em;
}

#campaignSubmit {
  margin: 0;
  margin-top: 1em;
}

#campaignHome, #characterBtn, #campaignBack, #characterBack {
  margin-left: 2em;
}

#campaignForm, #characterForm {
  padding-top: 1em;
  width: 60%;
}

#characterBack {
  margin-top: 2em;
}

#characterForm {
  width: 70%;
  max-width: 40em;
  min-width: 33em;
}

#nameImg {
  height: 7.8em;
  border-radius: 2.5em;
  position: absolute;
  top: 12.6em;
}

#charNameInput {
  display: inline;
  width: 18em;
}

#charNameField {
  color: black;
  position: absolute;
  top: 16.2em;
  left: 13em;
  height: 0.33em;
  width: 13.2em;
  border-style: inset;
  background-color: rgba(255,255,255,0.5);
  border-color: blue;
  border-width: thin;
}

#bioHeader {
  margin: 0;
  position: absolute;
  top: 18em;
}

#raceHeader {
  margin-left: 5.6em;
}

#classDisplay {
  position: absolute;
  top: 29.3em;
  left: 13.8em;
}

#raceDisplay {
  position: absolute;
  top: 29.3em;
  left: 27em;
}

#subclassDisplay {
  position: absolute;
  font-size: 95%;
  top: 35em;
  left: 14.5em;
}

#subraceDisplay {
  position: absolute;
  font-size: 95%;
  top: 35em;
  left: 28.4em;
}

#characterDesc {
  position: absolute;
  width: 28.5em;
  top: 23em;
  resize: none;
}

#asContainer {
  position: absolute;
  top: 38.5em;
}

#ptsRemain {
  position: absolute;
  margin-top: 21em;
  margin-left: 20em;
}

#characterSubmit {
  position: absolute;
  top: 44.5em;
}
